//top section
.top-block{
    position: relative;
    z-index: 2;
    padding-bottom: 184px;
    @media (max-width: 1100px){
        padding-bottom: 90px;
    }
    &::before{
        position: absolute;
        content: '';
        background-image: url(../img/bg-top.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        height: calc(100% - 200px);
        @media (max-width: 1100px){
            height: 100%;
        }

    }
    &__img{
        position: absolute;
        top: 113px;
        right: 21.5%;
        animation: show 2s;
        @media (max-width: 1100px){
            display: none;
        }
    }
}
@keyframes show {

    from {opacity: 0;}
    to {opacity: 1;}
}

.header {
    padding: 40px 0 128px;
    @media (max-width: 1100px){
        padding-bottom: 40px;
    }
    .wrap{
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        padding-left: 60px;
    }

    &__nav {
        display: flex;
        @media (max-width: 1100px){
            display: none;
        }
        &.active{
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            padding: 30px 20px;
            background-color: rgba(0,0,0,.8);
            z-index: 3;
            width: 100%;
        }
    }

    &__nav-list {
        display: flex;
        align-items: center;
        @media (max-width: 1100px){
            align-items: flex-end;
            flex-direction: column;
            align-content: flex-start;
            gap: 15px;
        }
    }

    &__nav-item {
        padding-right: 45px;
        padding-left: 25px;
    }

    &__nav-link {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s ease-in;
        &:hover{
            color: #c9c4c4;
        }
    }
}

.section-top {
    &__block {
        padding-left: 60px;
        color: #fff;
    }
    &__title {
        font-size: 64px;
        line-height: 78px;
        margin-bottom: 11px;
        font-weight: 400;
        @media (max-width: 1100px){
            font-size: 34px;
            line-height: 50px;
        }
        strong{
            display: block;
            font-weight: 800;
            text-transform: uppercase;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 69px;
        @media (max-width: 1100px){
            padding-bottom: 30px;
        }
    }
    &__btn{
        display: inline-flex;
        align-items: center;
        height: 48px;
        padding: 0 52px;
        background: linear-gradient(260.2deg, #6FCCDD -101.8%, #F27AAA 19.84%, #9278B6 132.12%), #C4C4C4;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        transition: all 0.5s ease-in;
        &:hover{
            background: linear-gradient(130.2deg, #6FCCDD -101.8%, #F27AAA 19.84%, #9278B6 132.12%), #C4C4C4;
        }
    }
}
.navbar-toggle{
    display: inline-block;
    margin-right: 30px;
    @media (min-width: 1100px){
        display: none;
    }
    .bar1, .bar2, .bar3 {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #737373;
        margin: 6px 0;
        transition: 0.4s;
    }
    &.active{
        .bar1{
            -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
        }
        .bar2{
            opacity: 0;
        }
        .bar3{
            -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
        }

    }
}